<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/header-style.css">
    <link rel="stylesheet" href="/styles/signup-page.css">
    <link rel="stylesheet" href="/styles/view-group.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <title>Study Group Finder</title>
</head>
<body>
    <%- include('../includes/header') %>
    <main>
        <div id="main-div">
            <img src="<%= group.imageUrl %>" alt="<%= group.name %>">
            <ul>
                <h1><%= group.name %></h1>
                <div id="div-li">
                <li>
                    <div class="svg-flex">
                        <svg aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="svg-img">
                            <path d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                        <p><%= group.location %></p>
                    </div>
                </li>
                <li>
                    <div class="svg-flex">
                    <svg aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="svg-img">
                        <path d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    <p><%= group.subject %></p>
                    </div>
                </li>
                <li>
                    <div class="svg-flex">
                    <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="svg-img">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"></path>
                      </svg>
                    <p>Created by <%= name %></p>
                    </div>
                </li>
                </div>
                <li id="join-btn-li">
                    <% if (uid && uid!=group.admin) { %>
                        <% if (isMember) {%>
                            <form action="/groups/leave-group/<%= group.id %>?_csrf=<%= locals.csrfToken%>" method="post">
                                <button id="join-btn" class="leave-btn">Leave this group</button>
                            </form>
                            <form action="/groups/view-members/<%= group.id %>?_csrf=<%= locals.csrfToken%>" method="post">
                                <button class="view-btn">View Members</button>
                            </form>
                        <% } %>
                    <% } %>
                    <% if (uid && uid!=group.admin) { %>
                        <% if (!isMember) { %>
                            <form action="/groups/join/<%= group.id %>?_csrf=<%= locals.csrfToken%>" method="post">
                                <button id="join-btn">Join this group</button>
                            </form>
                        <% } %>
                    <% } %>
                    <% if (group.admin === uid) { %>
                    <li id="li-flex">
                        <form action="/groups/delete/<%= group.id %>?_csrf=<%= locals.csrfToken%>" id="delete" method="post">
                            <button class="delete-btn">Delete this group</button>
                        </form>
                        <form action="/groups/view-members/<%= group.id %>?_csrf=<%= locals.csrfToken%>" method="post">
                            <button class="view-btn">View Members</button>
                        </form>
                    </li>
                    <% } %>
                </li>
            </ul>
        </div>
        <% if(uid) { %>
            <hr id="hr">
        <% } %>
        <% if(!uid) { %>
            <hr id="hr" style="margin-top: 2.4rem;">
        <% } %>
        <div id="abt-grp">
            <h2>What we're about</h2>
            <p id="description"><%= group.description %></p>
        </div>
        <% if (isMember || uid === group.admin) { %>
        <div class="announcement">
            <h2>Announcements</h2>
            <div id="announcement">
                <% if (uid === group.admin) { %>
                <form action="/groups/create-announcement/<%= group.id %>?_csrf=<%= locals.csrfToken %>" method="get" id="form-announcement">
                    <button class="view-btn create">Create Announcement</button>
                </form>
                <% } %>
                <form action="/groups/view-announcements/<%= group.id %>?_csrf=<%= locals.csrfToken %>" method="post">
                    <button class="delete-btn view">View Announcements</button>
                </form>
            </div>
        </div>
        <div class="announcement">
            <h2>Blogs</h2>
            <div id="announcement">
                <% if (uid === group.admin) { %>
                <form action="/groups/create-blog/<%= group.id %>?_csrf=<%= locals.csrfToken %>" method="get" id="form-announcement">
                    <button class="view-btn create create-blog">Create Blog</button>
                </form>
                <% } %>
                <form action="/groups/view-blogs/<%= group.id %>?_csrf=<%= locals.csrfToken %>" method="post">
                    <button class="delete-btn view view-blog">View Blog Posts</button>
                </form>
            </div>
        </div>
        <% } %>
    </main>
</body>
</html>