<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Blogs | Study Group Finder</title>
    <link rel="stylesheet" href="/styles/header-style.css">
    <link rel="stylesheet" href="/styles/signup-page.css">
    <link rel="stylesheet" href="/styles/groups.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <%- include('../includes/header') %>
    <main id="explore-main">
        <section id="blog-post">
            <h2 class="blog-title"><%= blog.title %></h2>
            <p id="writer"><i>Written by <a href="mailto:<%= admin.email %>" id="mailto"><%= admin.name %></a></i></p>
            <hr>
            <p id="blog-content"><%= blog.content %></p>
        </section>
        <h2 id="cmnt-title">Comments</h2>
        <p id="log-name">Logged in as <%= user.name %></p>
        <form action="/groups/<%= groupId %>/view-blog/<%= blog.id %>/comments?_csrf=<%= locals.csrfToken %>" method="post" id="cmnt-form">
            <textarea name="comment" id="comment" cols="100" rows="3" placeholder="Drop a comment!" maxlength="256"></textarea>
            <button class="delete-ann">Add comment</button>
        </form>
        <div id="all-comments">
            <h2 id="cmnt-title">All Comments</h2>
            <ul id="cmnt-page">
                <% for (const i of comments) { %>
                    <li id="cmnt-list">
                        <p id="name-comment"><%= i.name %>:</p>
                        <p id="blog-comment"><%= i.comment %></p>
                        <% if (uid == i.user || uid == group.admin) { %>
                        <form action="/groups/<%= groupId %>/view-blog/<%= blog.id %>/delete-comment/<%= i.id %>?_csrf=<%= locals.csrfToken %>" id="delete-comment" method="post">
                            <button class="delete-ann del-cmt" id="del-cmt">Delete</button>
                        </form>
                        <% } %>
                    </li>
                <% } %>
            </ul>
        </div>
    </main>
</body> 
</html>